.Header{
	height:40px;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	div{
		width:40px;
		height:40px;
		float:right;
	}
	.setting{
		float:right;
		position:relative;
	}
	.setting::before{
			content: '';
	    left: 17px;
	    top: 10px;
	    position: absolute;
	    width: 5px;
	    transform: rotate(30deg);
	    border-radius: 5px;
	    height: 20px;
	    background-color: #000;
	}
	.setting i{
    left: 17px;
    top: 10px;
    position: absolute;
    width: 5px;
    transform: rotate(90deg);
    border-radius: 5px;
    height: 20px;
    background-color: #000;
	}
	.setting::after{
		content: '';
		position: absolute;
		width: 5px;
		height: 20px;
		background-color: #000;
		transform: rotate(-30deg);
		border-radius: 5px;
		left: 17px;
		top: 10px;
	}
	.setting:hover{
		background-color:#00a3e2;
	}
	.setting:hover::before,.setting:hover::after,.setting:hover i{
		background-color:#fff;
	}
	.close{
		float:right;
		position:relative;
	}
	.close::before{
		content: '';
    left: 17px;
    top: 10px;
    position: absolute;
    width: 5px;
    transform: rotate(45deg);
    border-radius: 5px;
    height: 20px;
    background-color: #000;
	}
	.close::after{
		content: '';
		position: absolute;
		width: 5px;
		height: 20px;
		background-color: #000;
		transform: (-45deg);
		transform: rotate(-45deg);
		border-radius: 5px;
		left: 17px;
		top: 10px;
	}
	.close:hover{
		background-color:#f45046;
	}
	.close:hover::before,.close:hover::after{
		background-color:#fff;
	}
	.min{
		float:right;
		position:relative;
	}
	.min::before{
		content: '';
		top: 10px;
		position: absolute;
		width: 5px;
		border-radius: 5px;
		height: 20px;
		background-color: #000;
		transform: rotate(90deg);
		left: 16px;
	}
	.min:hover{
		background-color:#00a3e2;
	}
	.min:hover::before{
		background-color:#fff;
	}
	.person{
		position:relative;
		float:left;
		i{
			height:30px;
			display:block;
			width:30px;
			margin-top:5px;
			border-radius:5px;
			background-image:url('../public/img/account/PDD.png');
			background-size:100%;
			margin-left:5px;
			background-repeat:no-repeat;
			background-position:center;
		}
	}
	.person:hover{
		background-color:#00a3e2;
	}
}