.ListPage{
	width:100%;
	height:100%;
	padding-top:25px;
	background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
	.outBox{
		width:250px;
		height:250px;
		margin:0 auto;
		position:relative;
		.wrap{
			border-radius:15px;
			width:70px;
			height:70px;
			margin-left:10px;
			margin-top:10px;
			float:left;
			.func-icon{
				background-image:url('../public/img/list/list-funcicon-default.png');
				background-repeat:no-repeat;
				background-size:333px 485px;
				cursor:pointer;
				float:left;
				width:60px;
				height:60px;
				margin-left:5px;
				margin-top:5px;
				border-radius:10px;
			}
			.first{
				background-position:-98px -114px;
			}
			.second{
				background-position:-98px -24px;
			}
			.third{
				background-position:-255px -24px;
			}
			.forth{
				background-position:-19px -24px;
			}
			.fifth{
				background-position:-176px -24px;
			}
			.sixth{
				display:none;
			}
			.seventh{
				display:none;
			}
		}
		.wrap:hover{
			background-color:#00a3e2;
		}

	}
}







.ListPage-default{
	background-image:url("../public/img/list/list-background-default.jpg");
	.outBox{

	}
}