.MusicFooter{
  width:100%;
  height:100%;
  >div{
    float:left;
  }
  .findMp3{
    height:100%;
    width:150px;
    button{
      width:65px;
      float:left;
      margin-left:10px;
      height:30px;
      margin-top:15px;
      text-align:center;
      line-height:30px;
      font-size:12px;
      border-radius:3px;
    }
  }
  .operamusic{
    height:100%;
    width:120px;
    margin-left:20px;
    .glyphicon{
      margin-top:15px;
      width:40px;
      height:30px;
      line-height:30px;
      text-align:center;
      font-size:17px;
      float:left;
    }
  }
  .progresspro{
    width:300px;
    height:60px;
    padding-top: 25px;
    margin-left: 10px;
    .progress{
      height:10px;
      .progress-bar{
        width:150px;
      }
    }
  }
  .nowtime{
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  .alltime{
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-left:5px;
  }
  .operaafter{
    width:120px;
    height:60px;
    .glyphicon{
      margin-top:15px;
      width:40px;
      height:30px;
      line-height:30px;
      text-align:center;
      font-size:17px;
      float:left;
    }
    .glyphicon-volume-up{
      position:relative;
    }
  }
}


.MusicFooter{
  .findMp3{
    button{
      background-color:#239cf9;
      color:#fff;
    }
    button:hover{
      background-color:#1170d0;
    }
  }
  .progresspro{
    .progress{
      background-color:#c3c0c0;
      .progress-bar{
        background-color:#337ab7;
      }
    }
  }
}