.TodoPage{
  position:relative;
  .left-part{
    width:90px;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
  }
  .right-part{
    width:100%;
    height:100%;
    padding-left:90px;
  }
}

.TodoPage-default{
  
}