.VideoPage{
  width:100%;
  height:100%;
  position:relative;
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;
  padding-top:40px;
  .body{
    width:100%;
    height:400px;
    .left-part{
      width:30%;
      height:100%;
      float:left;
      padding:10px;
      border-right:1px solid #054e3d;
    }
    .right-part{
      width:70%;
      float:right;
      height:100%;
      padding:20px;
      .video-box{
        width:100%;
        height:100%;
        border-radius:5px;
      }
    }
  }
}

.VideoPage-default{
  background-image:url('../img/video/VideoPage-def-bg.jpg');
  .body{
    .right-part{
      background-color:#169375;
      .video-box{
        background-color:#fff;
      }
    }
    .left-part{
      background-color:#169375;
      .videoList{
        background-color:#fff;
      }
    }
  }
}